// settings button
.settings {
    z-index: 1000;
    font-weight: bold;

    .settings-btn {
        padding: .5rem .7rem;
        justify-content: flex-end;
        cursor: pointer;
        background-color: var(--settings-btn-bg);
        border-radius: 18px;
        width: fit-content;
        overflow: hidden;
        transition: max-width 0.3s ease-out, gap 0.3s ease-out;

        .settings-text {
            opacity: 0;
            max-width: 0;
            overflow: hidden;
            white-space: nowrap;
            transition: opacity 0.2s ease-out, max-width 0.3s ease-out, color 0.3s ease-out;
        }
    }

    svg {
        width: 100%;
        height: auto;
        stroke: var(--text-color) !important;
        transition: stroke 0.5s ease-out;
    }

    .options {
        display: none;
        position: absolute;

        background-color: var(--settings-btn-bg);
        position: relative;
        overflow: hidden;
        border-radius: 18px;

        li {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem;
            cursor: pointer;
            transition: color 0.3s ease-in-out;
        }
    }

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.8rem;
        width: 1.8rem;
    }
}

.options li:last-child:hover {
    background-color: var(--settings-btn-bg-hover);
    color: var(--accent);

    svg {
        stroke: var(--accent) !important;
    }
}

.trigger:hover .options {
    display: block;
}

.trigger:hover .settings-btn {
    gap: 1rem;

    button {
        rotate: -90deg;
    }

    .settings-text {
        opacity: 1 !important;
        max-width: 100px !important;
    }
}

.settings-btn:hover {
    color: var(--accent);

    svg {
        stroke: var(--accent) !important;
    }
}

.options li:first-child{
    display: block !important;
    padding: 0px !important;
    
    button {
        width: 50%;
        padding: 8px;
    }

    button:disabled {
        color: var(--settings-disabled-btn) !important;
        background-color: var(--settings-disabled-hover-btn);
    }
}

.options li:first-child button:hover{
    background-color: var(--settings-btn-bg-hover);
    color: var(--accent);
}