.project {
    max-width: 400px;
    width: 95%;
    padding: 0;

    .preview {
        border-radius: 12px;
        overflow: hidden;
        display: block;
        position: relative;

        img {
            transform: scale(1.1);
            display: block;
            max-height: 300px;
            transition: transform ease .3s;
        }
    }

    .links button svg {
        stroke: var(--primary-color);
    }


    &:hover .preview img {
        transform: scale(1.3);
    }
}

.project-content {
    .tech-container {
        .tech{
            border-radius: 15px;
            padding: .3rem .4rem;
            background-color: var(--project-tech-bg);
            color: var(--project-tech-cl);
            gap: 5px;
            .icon{
                width: 17px;
            }
        }
    }
}

@media (max-width: 1000px) {

    .project {
        margin-bottom: 2rem;
        .preview img {
            aspect-ratio: 16/10;
        }
        .project-content {
            margin: 0;
        }
    }
}

@media (max-width: 600px) {
    .project {
        width: 80%;
    }
}