.tech-container {
    .tech{
        border-radius: 15px;
        padding: .3rem .4rem;
        background-color: var(--proyect-tech-bg);
        color: var(--proyect-tech-cl);
        gap: 5px;
        .icon{
            width: 17px;
        }
    }
}