.title svg{
    stroke: var(--primary-color);
}

.tech {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 2px 0.6rem;
    gap: 5px;

    .icon {
        width: 25px;
    }
    span {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .languages-container, .frameworks-container {
        justify-content: center;
    }
}