//colors dark
$text: #cccccc;
$background: #05080a;
$primary: #68def3;
$secondary: #91e8f2;
$accent: #4cdbe6;

//typography
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;