:root {
  //dark theme
  --text-color: #cccccc;
  --background-color: #05080a;
  --primary-color: #68def3;
  --secondary-color: #0d646e;
  --accent: #4cdbe6;

  /* Menu bar */
  --translucid: #cccccc60;
  
  /* Hamburger Menu */
  --hamburger-bg: #cccccc90;
  --hamburger-text: #f5f8fa;

  /* Settings button */
  --settings-btn-bg: #5D5E60;
  --settings-btn-bg-hover: #cccccc90;
  --settings-disabled-btn: #cccccc;
  --settings-disabled-hover-btn: #cccccc50;

  /* option 2: secondary btn */
  // --button-secondary-bg: #0d646e;
  // --button-secondary-cl: #68def3;
  // --button-secondary-hover: #19a8b3;

  --button-secondary-bg: #0b2426;
  --button-secondary-cl: #68def3;
  --button-secondary-hover: #0d646e;

  --project-tech-bg: #212220;
  --project-tech-cl: #B4BAB2;

  //fonts
  --font-family-primary: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

[data-theme="light"] {
  color-scheme: light;

  --text-color: #333333;
  --background-color: #f5f8fa;
  --primary-color: #0c8297;
  --secondary-color: #91e8f2;
  --accent: #19a8b3;

  /* Menu bar */
  --translucid: #a9a9a960;
  
  /* Hamburger Menu */
  --hamburger-bg: #a9a9a990;
  --hamburger-text: #333333;

  /* Settings button */
  --settings-btn-bg: #E0E0E0;
  --settings-btn-bg-hover: #bde7ec;
  --settings-disabled-btn: #A0A0A0;
  --settings-disabled-hover-btn: #D0D0D0;

  --button-secondary-bg: #bde7ec;
  --button-secondary-cl: #336e79;
  --button-secondary-hover: #9edfe6;

  --project-tech-bg: #e0e0e0;
  --project-tech-cl: #333333;
}

#theme-switch svg {
  stroke: var(--text-color);
}

#theme-switch svg:first-child {
  display: none;
}

.lightmode #theme-switch svg:last-child {
  display: none;
}

.lightmode #theme-switch svg:first-child {
  display: block;
}