<section class="main-container flex" id="aboutme">
    <div class="image"><img class="rounded-[50%] aspect-[1/1]" src="./assets/section1/avatar.jpg" alt="avatar" priority>
    </div>
    <div class="content">
        <p class="subtitle-secondary font-bold"> {{'aboutme.parf1' | translate}} </p>
        <p class="title-primary">Cesar Rodriguez</p>
        <p class="title-secondary">{{'aboutme.parf2' | translate}} <span class="title-primary">{{'aboutme.parf3' |
                translate}}</span></p>
        <p class="subtitle-secondary"><span class="font-bold">{{'aboutme.parf4.junior' | translate}}</span>
            {{'aboutme.parf4.&' | translate}} <span class="font-bold">{{'aboutme.parf4.prof' |
                translate}}</span>{{'aboutme.parf4.desc' | translate}}</p>
        <!-- location -->
        <div class="location flex items-center mt-3 mb-3">
            <svg class="stroke-[var(--primary-color)]" width="32" height="32" viewBox="0 0 32 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M26.6667 13.3333C26.6667 19.9907 19.2813 26.924 16.8013 29.0653C16.5703 29.2391 16.2891 29.333 16 29.333C15.7109 29.333 15.4297 29.2391 15.1987 29.0653C12.7187 26.924 5.33333 19.9907 5.33333 13.3333C5.33333 10.5044 6.45713 7.79125 8.45752 5.79087C10.4579 3.79048 13.171 2.66667 16 2.66667C18.829 2.66667 21.5421 3.79048 23.5425 5.79087C25.5429 7.79125 26.6667 10.5044 26.6667 13.3333Z"
                    stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M16 17.3333C18.2091 17.3333 20 15.5425 20 13.3333C20 11.1242 18.2091 9.33334 16 9.33334C13.7909 9.33334 12 11.1242 12 13.3333C12 15.5425 13.7909 17.3333 16 17.3333Z"
                    stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <p class="title-primary">Colombia</p>
        </div>
        <!-- social container -->
        <social-container></social-container>
    </div>
</section>