<nav >
    <ul>
        <li>
            <a href="#aboutme" >About me</a>
        </li>
        <li>
            <a href="#tech">Techonogies</a>
        </li>
        <li>
            <a href="#proyects">Proyects</a>
        </li>
        <li>
            <a href="#Experience">Experience</a>
        </li>
        <li>
            <a href="#Education">Education</a>
        </li>
        <li>
            <button id="#theme-switch">
                <img src="assets/dark_light/dark.svg" alt="dark_button">
                <img src="assets/dark_light/light.svg" alt="light_button">
            </button>
        </li>
    </ul>
</nav>
