<nav class=" nav-container fixed w-full flex justify-center items-center z-[1000] px-0 py-2.5 left-0 top-4">
    <ul class="flex bg-[color:var(--translucid)] backdrop-blur-sm px-0 py-[0.3rem] rounded-[15px]">
        @for (item of navbarItems; track $index) {
        <li class="title-secondary cursor-pointer">
            <a (click)="scrollTo(item.ref)">
                {{item.section}}
            </a>
        </li>
        }
    </ul>
</nav>

<nav class="hamburger-container fixed top-0 z-1000 w-[100%]">
    <label class="burger m-6" for="burger">
        <input type="checkbox" id="burger" (change)="openNav()">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div class="menu w-full justify-center">
        <ul class="text-center ">
            @for (item of navbarItems; track $index) {
            <li class="text-[var(--text-color)] p-4">
                <a class="cursor-pointer" (click)="scrollTo(item.ref)" (click)="closeMenu()">
                    {{item.section}}
                </a>
            </li>
            }
        </ul>
    </div>
</nav>