nav {
    position: fixed;
    top: 1rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
}

ul {
    display: flex;
    background-color: #cccccc40;
    backdrop-filter: blur(4px);
    padding: .3rem 0;

    border-radius: 15px;
}

li {
    width: 7.5rem;
    display: flex;
    justify-content: center;

    font-size: 0.9rem;
    font-weight: bold;
}

li:last-child {
    width: 1rem;
    margin-right: 1rem;
}