@media (max-width: 768px) {
    .sections {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media (min-width: 1200px) {
    .sections {
        padding-top: 3rem;
    }
}

@media (min-width: 1400px) {
    .sections {
        
        margin-right: 15rem;
        margin-left: 15rem;
    }
}

